body {

    .bottomnav {
      overflow: hidden;
      background-color: #ff0000;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  
    .bottomnav a {
      float: left;
      color: #ff0000
      text-align: centre;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
  
  }