<<<<<<< HEAD
body {
  @charset "UTF-8";
  /* @import url("https://use.typekit.net/mdv5bbe.css"); */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  font-family: 'Roboto', sans-serif;
  font-size: 30px;

  div {
    text-align: justify;
    text-justify: inter-word;
  }
=======
div {
    text-align: justify;
    text-justify: inter-word;
  }
>>>>>>> b05c77f7fbf2b6365f2f96f318efc69c7b407bc0
